:root {
    background-color: Black;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    margin-left: 320px;
    height: 500px;
    width: 900px;
    background: rgba(128, 128, 168, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
  }
  .input {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    padding-left: 50px;
    font-family: sans-serif;
    margin: 20px 0 0 50px;
  }
  button {
    height: 40px;
    width: 150px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    margin-left: 145px;
  }